<div class="backdrop">
  <div id="main"></div>
</div>

<!--<div class="sortable">
  <% 10.times do |n| %>
    <div class="bar"><h1><%= n %></h1></div>
  <% end %>
</div> -->


<script>$(TrelloClone.initialize);</script>

<script>
$(function() {
  $('.sortable').sortable({
  
    stop: function () {
      console.log("maybe make an ajax request here");
    }
  });
})
</script>
