<div class="backdrop">
  <div id="main"></div>
</div>




<script>$(TrelloClone.initialize);</script>

<script>
// $(function() {
//   $('.sortable').sortable({
//
//     stop: function () {
//       console.log("maybe make an ajax request here");
//     }
//   });
// })
</script>
