<div class='delete delete-board' card-id="<%= card.id %>">
 <img src="/assets/delete.png" class="delete" />
</div>
<div class='edit'><img src="/assets/edit.png" class="edit" /></div>
<%= card.escape('title') %>