<h1>All Boards</h1>

<% boards.each(function(board) { %>
	<a href="#/boards/<%= board.id %>">
		<div class="board-index" 
				 data-id="<%= board.id %>" 
				 data-owner-id="<%= board.escape('owner_id') %>">
				 <div class='delete'><img src="/assets/delete.png" class="delete" /></div>
				 <div class='edit'><img src="/assets/edit.png" class="edit" /></div>
				 <div class="board-index-div-content">
				 		<%= board.escape('title') %>
				 </div>
		</div>
	</a>
<% }); %>


<div class="create-new-board" id="make-new-board">
	<p class="board-index-div-content">Create new board...</p>
</div>

<form class="new-board in-active">
	<div class="form-group">
		<label for="board_title">
			<input type="text" name="board[title]" id="board_title" class="form-control" placeholder="Board title" autofocus>
			<br>
			<input type="submit" value="Create" class='btn btn-default'>
	</div>
</form>
