/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

h1 {
	margin-left: 10px;
	color: #EF8D9B;
}

div.board-index {
	float: left;
	width: 20%;
	height: 150px;
	border-radius: 5px;
	background-color: #EF8D9B;
	border: 2px solid #EF8D9B;
	margin: 10px;
	color: white;
	font-weight: bold;
	box-shadow: 5px 5px 2px lightgrey;
}

div.board-index:hover {
    opacity: 0.8;
}

div.create-new-board {
	float: left;
	width: 20%;
	height: 150px;
	border-radius: 5px;
	background-color: #F0F0F0;
	border: 2px solid lightgrey;
	margin: 10px;
	box-shadow: 5px 5px 2px lightgrey;
    color: grey;
    padding: 10px;
}

div.create-new-board:hover {
    cursor: pointer;
}

.edit, .delete {
	display: inline-block;
	float: right;
	opacity: 0.6;
	margin-top: 2px;
}

.delete {
	margin-right: 2px;
	margin-left: 2px;
}

.edit:hover, .delete:hover {
	opacity: 1;
}

img.edit, img.delete {
	height: 15px;
}

div.additional-list {
	float: left;
	width: 20%;
	height: 150px;
	border-radius: 5px;
	background-color: #F0F0F0;
	border: 2px solid lightgrey;
	margin: 10px;
	box-shadow: 5px 5px 2px lightgrey;
}

div.create-new-list {
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
}

form.new-list {
	padding: 10px;
}

div.board-index-div-content {
	font-size: 20px;
	text-align: center;
	clear: both;
}

form.new-board {
	float: left;
	width: 20%;
	height: 150px;
	border-radius: 5px;
	background-color: #F0F0F0;
	border: 2px solid lightgrey;
	margin: 10px;
	padding: 10px;
	font-weight: normal;
}

.in-active {
	display: none;
}

div.list {
	float: left;
	width: 20%;
	height: auto;
	text-align: center;
	background-color: #EF8D9B;
	border: 2px solid #EF8D9B;
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	border-radius: 2px;
	color: white;
	box-shadow: 5px 5px 2px lightgrey;
}

div.card {
	background-color: white;
	margin: 5px;
	border-radius: 2px;
	position: relative;
	color: grey;
	font-size: 16px;
	text-decoration: none;
	padding: 5px;
	font-weight: normal;
	box-shadow: 2px 2px 1px #7e7e7e;
}

div.card:hover {
	background-color: #e0e0e0;
}

div.cards {
	min-height: 20px;
}

div.make-new-card {
	font-size: 16px;
	font-weight: normal;
	color: white;
	padding: 5px;
}

div.lists {
	height: 600px;
}

div.lists-container {
	height: 600px;
}

div.cards-container {
	min-height: 20px;
}

//navbar styling

body {
    background-color: #EFE1E3;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
	padding: 0;
}

.navbar-custom {
    background-color: #E19CA4;
    border-color: #E19CA4;
	border-radius: 0px;
	color: #FFFFFF;
	margin: 0;
}

.custom-color {
	color: #FFFFFF;
	font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

#plus-href {
	width: 50px;
	height: 50px;	
	padding: 0px;
}

#my-own-plus {
	margin-top: 15px;
	width: 40%;
}

#my-own-logo img {
	height: 40px;
	display: inline-block;
}

#bell-href {
	width: 50px;
	height: 50px;
	padding: 0px;
//  margin-top: 10px;
}

#my-own-bell {
	width: 40%;
	margin-top: 15px;
}

.sign-up, .sign-in {
    margin-left: 10px;
}

.header-text a {
    color: white;
}

.login-btn {
    background-color: #E19CA4;
    border-color: #E19CA4;
}

.login-btn:hover {
    background-color: pink;
    border-color: pink;
}

.log-out-btn {
    background-color: transparent;
    border: none;
}

.log-out-btn:hover {
    color: pink;
    background-color: transparent;
    border: none;
}

.editing {
    color: grey;
    width: 200px;
    margin-left: 5px;
}

.modal-body .form-control {
    width: 400px;
}
.guest-login {
    margin-left: 10px;
    margin-top: 10px;
}
