/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

div.board-index {
	float: left;
	width: 20%;
	height: 150px;
	border-radius: 5px;
	background-color: #F778A1;
	border: 2px solid lightgrey;
	margin: 10px;
	color: white;
	font-weight: bold;
}

div.board-index:hover {
	background-color: #FAAFBAw;
}

div.create-new-board {
	float: left;
	width: 20%;
	height: 150px;
	border-radius: 5px;
	background-color: #F0F0F0;
	border: 2px solid lightgrey;
	margin: 10px;
}


p.board-index-div-content {
	font-size: 20px;
	text-align: center;
}

form.new-board {
	float: left;
	width: 20%;
	height: 150px;
	border-radius: 5px;
	background-color: #F0F0F0;
	border: 2px solid lightgrey;
	margin: 10px;
}

.in-active {
	display: none;
}

div.list {
	float: left;
	width: 20%;
	height: 250px;
	text-align: center;
	background-color: #F0F0F0;
	border: 2px solid lightgrey;
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
	position: relative;
}

div.card {
	background-color: grey;
	border: 1px solid black;
	margin: 5px;
	border-radius: 10px;
	position: relative;
}

div.cards {
	height: 250px;
}

div.lists {
	height: 600px;
}

div.lists-container {
	height: 600px;
}

div.cards-container {
	height: 600px;
}




 
