/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

div.board-index {
	float: left;
	width: 20%;
	height: 150px;
	border-radius: 5px;
	background-color: #EF8D9B;
	border: 2px solid #EF8D9B;
	margin: 10px;
	color: white;
	font-weight: bold;
	box-shadow: 5px 5px 2px lightgrey;
}

div.board-index:hover {
//	background-color: #FAAFBA;
opacity: 0.8;
}

div.create-new-board {
	float: left;
	width: 20%;
	height: 150px;
	border-radius: 5px;
	background-color: #F0F0F0;
	border: 2px solid lightgrey;
	margin: 10px;
	box-shadow: 5px 5px 2px lightgrey;
}

div.create-new-list {
	float: left;
	width: 20%;
	height: 150px;
	border-radius: 5px;
	background-color: #F0F0F0;
	border: 2px solid lightgrey;
	margin: 10px;
}

p.board-index-div-content {
	font-size: 20px;
	text-align: center;
}

form.new-board {
	float: left;
	width: 20%;
	height: 150px;
	border-radius: 5px;
	background-color: #F0F0F0;
	border: 2px solid lightgrey;
	margin: 10px;
}

.in-active {
	display: none;
}

div.list {
	float: left;
	width: 20%;
	height: auto;
	text-align: center;
	background-color: #EF8D9B;
	border: 2px solid #EF8D9B;
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	border-radius: 2px;
	color: white;
}

div.card {
	background-color: white;
	margin: 5px;
	border-radius: 2px;
	position: relative;
	color: grey;
	font-size: 16px;
	text-decoration: none;
	padding: 5px;
	font-weight: normal;
	box-shadow: 2px 2px 1px #7e7e7e;
}

div.card:hover {
	background-color: #e0e0e0;
}

div.cards {

}

div.make-new-card {
	font-size: 16px;
	font-weight: normal;
	color: white;
	padding: 5px;
}

div.lists {
	height: 600px;
}

div.lists-container {
	height: 600px;
}

div.cards-container {

}

//navbar styling

body {
    background-color: #EFE1E3;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
		padding: 0;
}

.navbar-custom {
    background-color: #E19CA4;
    border-color: #E19CA4;
		border-radius: 0px;
		color: #FFFFFF;
		margin: 0;
}

.custom-color {
		color: #FFFFFF;
		font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
		font-weight: bold;
		padding: 0px;
		margin: 0px;
}

#plus-href {
	width: 50px;
	height: 50px;	
	padding: 0px;
//	margin-top: 10px;
}

#my-own-plus {
	margin-top: 15px;
	width: 40%;
}

#my-own-logo {
	height: 40px;
	display: inline-block;
}

#bell-href {
	width: 50px;
	height: 50px;
	padding: 0px;
//  margin-top: 10px;
}

#my-own-bell {
	width: 40%;
	margin-top: 15px;
}

#username {
	//padding: 0px;
//	margin-top: 20px;
}



 
