<div class="additional-list">
    <div class="create-new-list" id="make-new-list">
	    <p class="list-show-div-content">Create new list...</p>
	</div>

	<form class="new-list in-active">
        <button type="button" class="close close-form">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
		<div class="form-group">
			<label for="list_title">
			<input type="text" 
				   name="list[title]" 
				   id="list_title" 
				   class="form-control"  
				   placeholder="List title"
				   autofocus >
			<br>
			<input type="submit" value="Create" class='btn btn-default'>
		</div>
	</form>
</div>

