<div class="create-new-list" id="make-new-list">
	<p class="board-show-div-content">Create new list...</p>
</div>

<form class="new-list in-active">
	<label for="list_title">
		<input type="text" name="list[title]" id="list_title" autofocus>
	<input type="submit" value="Create">
</form>