<div class='delete delete-list' list-id="<%= list.id %>">
 <img src="/assets/delete.png" class="delete" />
</div>
<div class='edit edit-list'><img src="/assets/edit.png" class="edit" /></div>
<div class="list-title">
    <p><%= list.escape('title') %></p>
</div>
<div class="cards"> </div>
<div class='new-card-form'>
	<div class="make-new-card" data-id="<%= list.id %>">Add a card...</div>
	<form class="new-card in-active" role="form">
		<div class="form-group">
			<label for="card_title">
			<input type="text" 
						 name="card[title]" 
						 id="card_title" 
						 class="form-control card-titles"  
						 placeholder="Card title"
						 autofocus>
			<br>
            <input type="submit" value="Add" class='btn btn-default'>
            <button class='btn btn-default exit-card-form'>Exit</button>
		</div>
	</form>
</div>

