<%= list.escape('title') %> 
<div class="cards"> </div>
<div class='new-card-form'>
	<div class="make-new-card" data-id="<%= list.id %>">Add a card...</div>
	<form class="new-card in-active">
		<label for="card_description">
			<input type="text" name="card[title]" id="card_title" autofocus>
		<input type="submit" value="Add">
	</form>
</div>

